body {
    padding-top: .8rem;
    background: #F5F5F5;
    box-sizing: border-box;
    padding-bottom: 2rem;
}
.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: .8rem;
    background: #fff;
    z-index: 1;
}
.topBar img {
    position: absolute;
    left: .1rem;
    top: 50%;
    transform: translateY(-50%);
}
.topBar p {
    width: 100%;
    text-align: center;
    line-height: .8rem;
}
.topBar .right {
    position: absolute;
    right: .2rem;
    top: 50%;
    transform: translateY(-50%)
}
.topBar .right p {
    font-size: .25rem
}






.address-list-wrap .list-item {
    overflow: hidden;
    font-size: 0;
    padding: .2rem;
    border-radius: .1rem;
    margin-bottom: .2rem;
}

.address-list-wrap .list-item .ctr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address-list-wrap .list-item .ctr .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.address-list-wrap .list-item .ctr .right p {
    display: flex;
    align-items: center;
    margin-left: .5rem;
    color: rgba(0,0,0,.4);
}
.address-list-wrap .list-item .ctr .right img {
    width: .6rem;
}
.address-list-wrap .list-item .ctr .default {
    display: flex;
    align-items: center;
}
.address-list-wrap .list-item .ctr .isDefault {
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background: #EB3A33;
    display: inline-block;
    margin-right: .2rem;
}
.address-list-wrap .list-item .ctr .setting {
    color: #EB3A33;
}

.icon-edit {
    width: .8rem;
    padding: .2rem 0;
}




















.submit-wrap {
    padding: .2rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.submit-wrap .submit {
    background: #222;
    color: #fff;
    text-align: center;
    font-size: .28rem;
    padding: .2rem 0;
    box-sizing: border-box;
}

.alert-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    z-index: 998;
}
.alert-del {
    width: 60%;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: .1rem;
    overflow: hidden;
}
.alert-del p {
    padding: .3rem;
}
.alert-del .ctr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .2rem;
}
.alert-del .ctr span {
    display: inline-block;
    text-align: center;
    flex: 1;
    padding: .2rem;
}
.alert-del .ctr span:first-child {
    background: #eee;
}
.alert-del .ctr span:last-child {
    background: #EB3A33;
    color: #ffdf;
}
