body {
    padding-top: .8rem;
    background: #F5F5F5;
    box-sizing: border-box;
    padding-bottom: 2rem;
    font-size: 14px;
}
.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: .8rem;
    background: #fff;
    z-index: 1;
    border-bottom: .01rem solid #F5F5F5;
}
.topBar img {
    position: absolute;
    left: .1rem;
    top: 50%;
    transform: translateY(-50%);
}
.topBar p {
    width: 100%;
    text-align: center;
    line-height: .8rem;
}
.topBar .right {
    position: absolute;
    right: .2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: .24rem;
}
.topBar .right p {
    font-size: .25rem
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: .15rem .2rem;
}
.nav .nav-item.active {
    position: relative;
}
.nav .nav-item.active::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #F0A33A;
    position: absolute;
    bottom: -10px;
    border-radius: 3px;
}



.content .list-wrap .empty {
    text-align: center;
    padding-top: 1.5rem;
}



.content .weishiyong,
.content .yishiyong,
.content .yishixiao {
    display: none;
    padding: 14px;
}
.content .empty {
    /* display: none; */
}
.content .weishiyong li,
.content .yishiyong li,
.content .yishixiao li {
    background: #fff;
    position: relative;
    height: 120px;
    margin-bottom: 13px;
}
.content .weishiyong li i,
.content .yishiyong li i,
.content .yishixiao li i {
    font-style: normal;
}
.content .weishiyong li {
    border-radius: 4px;
}
.content .weishiyong li::before {
    content: '';
    display: block;
    width: 41px;
    height: 120px;
    position: absolute;
    left: 0;
    background-image: url('../img/icon/YH1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.content .weishiyong li div:first-child {
    padding-bottom: 10px;
    padding-left: 54px;
}
.content .weishiyong li div:first-child p:first-child {
    font-size: 28px;
    font-weight: 600;
}
.content .weishiyong li div:first-child p:last-child {
    font-size: 14px;
    font-weight: 600;
}
.content .weishiyong li div:first-child b {
    font-size: 46px;
}
.content .weishiyong li div:last-child {
    font-size: 12px;
    color: rgba(0,0,0,.5);
    line-height: 2em;
    border-top: 1px solid rgba(0,0,0,.2);
    padding-left: 54px;
}



.content .yishiyong li {
    border-radius: 4px;
}
.content .yishiyong li::before {
    content: '';
    display: block;
    width: 41px;
    height: 120px;
    position: absolute;
    left: 0;
    background-image: url('../img/icon/YH2.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.content .yishiyong li::after {
    content: '';
    display: block;
    width: 80px;
    height: 120px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/icon/YH4.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.content .yishiyong li div:first-child {
    padding-bottom: 10px;
    padding-left: 54px;
    opacity: .33;
}
.content .yishiyong li div:first-child p:first-child {
    font-size: 28px;
    font-weight: 600;
}
.content .yishiyong li div:first-child p:last-child {
    font-size: 14px;
    font-weight: 600;
}
.content .yishiyong li div:first-child b {
    font-size: 46px;
}
.content .yishiyong li div:last-child {
    font-size: 12px;
    color: rgba(0,0,0,.3);
    line-height: 2em;
    border-top: 1px solid rgba(0,0,0,.2);
    padding-left: 54px;
}






.content .yishixiao li {
    border-radius: 4px;
}
.content .yishixiao li::before {
    content: '';
    display: block;
    width: 41px;
    height: 120px;
    position: absolute;
    left: 0;
    background-image: url('../img/icon/YH2.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.content .yishixiao li div:first-child {
    padding-bottom: 10px;
    padding-left: 54px;
    opacity: .33;
}
.content .yishixiao li div:first-child p:first-child {
    font-size: 28px;
    font-weight: 600;
}
.content .yishixiao li div:first-child p:last-child {
    font-size: 14px;
    font-weight: 600;
}
.content .yishixiao li div:first-child b {
    font-size: 46px;
}
.content .yishixiao li div:last-child {
    font-size: 12px;
    color: rgba(0,0,0,.5);
    line-height: 2em;
    border-top: 1px solid rgba(0,0,0,.2);
    padding-left: 54px;
}

.lingqu_bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    z-index: 990;
}
.lingqu {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 991;
    text-align: center;
    font-size: 13px;
    width: 70%;
    border-radius: 4px;
}
.lingqu .title {
    padding: 20px;
}
.lingqu p {
    color: rgba(0,0,0,.5);
    padding-bottom: 10px;
}
.lingqu .btn {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 8px;
}
